@media (max-width: 768px) {
  .TitleArea {
    top: 2px;
  }

}

.TitleArea {
  position: fixed;
  z-index: 400;
}


.MainBG {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.MessageArea {
  display: flex;
  flex-direction: column-reverse;
  padding-top: 60px;
  height: calc(100dvh - 200px);
  width: 100%;
  overflow: auto;
}

.MessageArea::-webkit-scrollbar {
  display: none;
}

@media (min-width: 769px) {
  .MessageArea {
    height: calc(100vh - 140px);
  }
}


.inputArea {
  position: fixed;
  bottom: 0;
  z-index: 200;
  left: 0;        /* 追加：左右の位置を固定 */
  right: 0;       /* 追加：左右の位置を固定 */
  width: 100%;    /* 追加：横幅を明示 */
  display: flex;
  justify-content: center;
  padding-bottom: 14px;
}

input {
  font-size: 16px;
  border: none;
  outline: none;
  background: #dddddd;
  padding: 4px;
} 

.Row {
  display: flex;
}



.Name {
  font-size: clamp(11px, 3.5vw, 18px);
  font-weight: bolder;
  font-style: oblique;
  font-family: "M PLUS 1p", "M PLUS Rounded 1c", sans-serif;
  color: white;
  white-space: nowrap;
  text-shadow:
    2px 0 0 black,
    -2px 0 0 black,
    0 2px 0 black,
    0 -2px 0 black,
    2px 2px 0 black,
    -2px 2px 0 black,
    2px -2px 0 black,
    -2px -2px 0 black,

    4px 4px 0 black,
    6px 6px 0 black;

  transform: rotate(-4deg);
  position: relative;
  height: 0px;
  z-index: 200;
}
.Mine {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
}

.Other {
  display: flex;
  margin-right: auto;
}

.Img {
  position: absolute;
  z-index: 100;
  width: min(65%, 100px);
  height: min(65%, 100px);
  border-radius: 40%;
}