.InputMainArea {
  display: flex;
  justify-content: center;
  flex: 1;
}

.Border {
  background-color: black;
  padding: 10px 6px 10px 20px;
  clip-path: polygon(
    0 30%,
    100% 12%,
    94% 90%,
    12% 100%
  );
  flex: 1;
}

.TargetArea {
  display: flex;
  justify-content: center;
  background-color: #dddddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  clip-path: polygon(
    0 28%,
    99% 10%,
    94% 92%,
    9% 100%
  );
  padding: 20px;
  padding-bottom: 10px;
  flex: 1;
}


@media (min-width: 769px) {
  .TargetArea {
    padding: 20px 60px;
  }
}